


.DS_Store
.idea
*.log
tmp/


portfolio3/data

portfolio2/RL_multi
portfolio3/betabinomial-simple-single
portfolio3/betabinomial-weighted-single
portfolio3/betabinomial-weighted-single-temp
portfolio3/simple_Bayes_model
portfolio3/weighted_Bayes_model
portfolio3/betashift
portfolio3/*.rds
